{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}
<div class="content">
    <h1 class="standardH1Text">It's time to take charge of your child's education.</h1>
    </br>
    <h2 class="standardH2Text">The Academic Planner for Parent-Led Education (APPLE) enables you, the
        parent, to do exactly that. LEAD! </h2>
    <h2 class="standardH2Text">Lead your children to the education that you think is best for them. </h2>
    <h2 class="standardH2Text">And who are you? Are you a stay at home parent? Maybe. Are you a working parent? Possibly. APPLE
    aims to empower every parent, no matter what your role in life to offer your children the education you think is best.
        Because you are their parent and you know them best.</h2>
    <h2 class="standardH2Text">We do that by offering the features you care about and that facilitate your leadership in your child's life. </h2>
</div>
{% endblock %}