{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block title %}
Schedule
{% endblock %}

{% block content %}
<div class="topBar">
    <h2><i class="fas fa-chalkboard-teacher"></i>Views</h2>
    <nav class="topnav">
        <ul>
            <li id="parentToggle" onclick="switchPage('parent')" >Parents</li>
            <li id="teacherToggle" onclick="switchPage('teacher')" >Teachers</li>
        </ul>
    </nav>
</div>
<br/>
<div class="content">
    <div id="parentsView"  style="display:none">
        {% include 'fullCalendar.html' %}
    </div>
    <div id="teachersView"  style="display:none">
        {% include 'fullCalendar.html' %}
    </div>
<br/>
</div>
<script>

var calendarView;
window.onload = function(){
    var page = sessionStorage.getItem('currentViewForm');
    switchPage(page);
    calendarView = getCalendar('timeGridWeek,timeGridDay,dayGridDay', 'timeGridWeek', 'views').render();
}

function switchPage(page){
    $('#parentsView').hide();
    $('#teachersView').hide();
    sessionStorage.setItem('currentViewForm', page);
    switch(page){
        case "parent":
             $('#parentsView').show();
            break;
        case "teacher":
             $('#teachersView').show();
            break;
        default:
             $('#parentsView').show();
            break;
    }
}

function setView(page){
    $.ajax({
        url: "\views",
        type: 'GET',
        cache: false,
        data: { "view" : sessionStorage.getItem('currentViewForm') },
        success: function (response) {
            var eventSources = calendarView.getEventSources();
            for(var i in eventSources)
            {
                eventSources[i].remove();
            }
            calendarView.addEventSource(response.eventSource);
        },
        complete: function () {
            var eventSources = calendarView.getEventSources();
                for(var i in eventSources)
                {
                    eventSources[i].refetch();
                }
                calendarView.render();
        },
        error: function (response) {
            alert(response["responseJSON"]["error"]);
        }
    })
}
</script>
{% endblock %}