{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block title %}
Schedule
{% endblock %}

{% block content %}
<div class="topBar">
    <h2><i class="fas fa-chalkboard-teacher"></i>Views</h2>
    <nav class="topnav">
        <ul>
            <li id="parentToggle" onclick="switchPage('parent')" >Parents</li>
            <li id="teacherToggle" onclick="switchPage('teacher')" >Teachers</li>
        </ul>
    </nav>
</div>
<br/>
<div class="content">
    <div id="parentsView"  style="display:none">
        {% include 'fullCalendar.html' %}
    </div>
    <div id="teachersView"  style="display:none">
    </div>
<br/>
</div>
<script>
window.onload = function(){
    var page = sessionStorage.getItem('currentViewForm');
    switchPage(page);
    setHeader('timeGridWeek,timeGridDay,dayGridDay');
}

function switchPage(page){
    $('#parentsView').hide();
    $('#teachersView').hide();
    sessionStorage.setItem('currentViewForm', page);
    switch(page){
        case "parent":
             $('#parentsView').show();
             getCalendar('timeGridWeek,timeGridDay,dayGridDay', 'timeGridWeek').render();
            break;
        case "teacher":
             $('#teachersView').show();
            break;
        default:
             $('#parentsView').show();
             getCalendar('timeGridWeek,timeGridDay,dayGridDay', 'timeGridWeek').render();
            break;
    }
}
</script>
{% endblock %}