    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }
    i {
        Height: 30px;
        margin-right: 5px;
    }
    html{
        width: 100%;
    }
    input, option, select{
        height:28px;
    }
    .main{
        top:0;
        height:100%;
        width:100%;
        min-width: 920px;
        position: fixed;
        overflow: auto;
    }
    .header{
        padding: 5px;
        min-width: 920px;
        background-color: #232323;
        color: #CFCFCF;
        top:0;
        margin-left:200px;
        padding-right:10px;
        border-bottom: 1px solid #e0e4e8;
    }
    .content{
        height:100%;
        margin-left:220px;
        justify-content: center;
        align-items: center;
        margin-right:20px;
    }
    .standardH1Text{
        color: #232323;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 50px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
        justify-content: center;
    }
    .standardH2Text {
        color: #232323;
        font-family: 'Open Sans',
        sans-serif;
        font-size: 30px;
        font-weight: 300;
        line-height: 32px;
        margin: 0 0 72px;
        text-align: center;
    }
    .main-text {
        height: 50px;
        margin-left:200px;
        display:block;
    }
    .sidenav {
        height:100%;
        width:200px;
        position: fixed;
        top:0;
        left:0;
        border: 2px;
        padding-top:25px;
        padding-left:0px;
        background-color: #232323;
        z-index:1;
    }
    .sidenav ul{
        padding:0px;
    }
    .sidenav li{
        padding: 15px;
        border-bottom: 1px solid #bdb8d7;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        border-bottom: 1px solid rgba(255,255,255,0.05);
    }
    .sidenav li a {
        font-size:25px;
        display:block;
        color: #CFCFCF;
    }
    .sidenav h2 {
        text-transform: uppercase;
        margin-left:18px;
        margin-bottom: 12px;
        margin-top: 15px;
        color: #CFCFCF;
    }
    .topborder {
        border-top: 2px solid #bdb8d7;
    }
    .sidenav a:hover{
        color:#f1f1f1;
    }
    .topBar{
        text-align:left;
        margin-left:200px;
        height: 55px;
        padding: 10px;
        padding-left:20px;
        padding-right:30px;
        border-bottom: 2px solid #232323;
    }
    .topBar h2 {
        display:inline-block;
    }
    .topnav {
        display:inline-block;
        text-align:center;
        width: 70%;
        height:35px;
    }
    .topnav li {
        display:inline-block;
        color: #232323;
        text-decoration: underline;
        font-size: 17px;
        margin:5px;
    }
    .topnav li:hover {
        background-color: #ddd;
        color: black;
        text-align:center;
    }
    .topnav li.active {
        background-color: #04AA6D;
        color: white;
    }
    .hsField{
        margin-top:10px;
        margin-bottom:10px;
    }
    .hsButton, .button-holder {
        height: 30px;
        padding:1px 3px;
        margin-top:10px;
        margin-bottom:10px;
        box-shadow: 0px 1px 0px 0px #f0f7fa;
        background:linear-gradient(to bottom, #b6afb8 5%, #3e4547 100%);
        background-color:#b6afb8;
        border-radius:6px;
        border:1px solid #6e7980;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:15px;
        font-weight:bold;
        text-decoration:none;
        text-shadow:0px -1px 0px #5b6178;
    }
    .hsButton:hover {
        background:linear-gradient(to bottom, #3e4547 5%, #b6afb8 100%);
        background-color:#3e4547;
    }
    .hsButton:active {
        position:relative;
        top:1px;
    }
    .iconH3{
        margin-left:-3px;
        padding:0px;
    }
    .modal-backdrop {
        z-index:`100`;
    }
        /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    input:checked + .slider {
      background-color: #2196F3;
    }
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
    .hide{
        display:none;
    }
