<!-- Modal -->
{% load crispy_forms_tags %}
<div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleModalLabel">Update Schedule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="UpdateForm" action="/settings" method="post">
                    {% csrf_token %}
                    <div class="formFieldRowContainer">
                        <div class="formFieldItemContainer">{{scheduleForm.description.label_tag}}<br/>{{scheduleForm.description}}</div>
                        <div class="formFieldItemContainer">{{scheduleForm.subject.label_tag}}<br/>{{scheduleForm.subject}}</div>
                    </div>
                    <div class="formFieldRowContainer">
                        {{scheduleForm.details.label_tag}}<br/>{{scheduleForm.details}}
                    </div>
                    <div class="formFieldRowContainer">
                        <div class="formFieldRowContainer">
                        {{scheduleForm.type.label_tag}}<br/>{{scheduleForm.type}}
                        </div>
                    </div>
                    <div class="formFieldRowContainer">
                        <div class="formFieldItemContainer">{{scheduleForm.activity_date.label_tag}}<br/>{{scheduleForm.activity_date}}</div>
                        <div class="formFieldItemContainer">
                            <label>All Day:</label><br/>
                            <label class="switch">
                                <input id="allDay" name="allDay" type="checkbox" onclick='handleAllDayClick(this);'>
                                <span class="slider round"></span>
                            </label>
                        </div>
                         <div class="formFieldItemContainer" id="startTime">{{scheduleForm.start_time.label_tag}}<br/>{{scheduleForm.start_time}}</div>
                         <div class="formFieldItemContainer" id="endTime">{{scheduleForm.end_time.label_tag}}<br/>{{scheduleForm.end_time}}</div>
                    </div><br/>
                    <div class="formFieldRowContainer">
                        <div class="formFieldItemContainer">
                            <label>I want this to be recurring...</label><br/>
                            <label class="switch">
                                <input type="checkbox" onclick='handleRecurClick(this);'>
                                <span class="slider round"></span>
                            </label>
                        </div>
                         <div class="formFieldItemContainer" id="recurDate">{{scheduleForm.recurEnd.label_tag}}<br/>{{scheduleForm.recurEnd}}</div>
                    </div>
                    <div class="formFieldRowContainer">
                        <div class="formFieldItemContainer" id="recurType">
                            {{scheduleForm.recurType.label_tag}}<br/>{{scheduleForm.recurType}}
                        </div>
                    </div><br/>
                    <div class="formFieldRowContainer">
                        <div class="formFieldItemContainer">
                            <label>I have a teacher for this class...</label><br/>
                            <label class="switch">
                                <input type="checkbox" onclick='handleTeacherClick(this);'>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div><br/>
                    <div class="formFieldRowContainer">
                         <div class="formFieldItemContainer" id="teacherAssign">{{scheduleForm.teacher.label_tag}}<br/>{{scheduleForm.teacher}}</div>
                        <div class="formFieldItemContainer" id="classAssign">{{scheduleForm.classT.label_tag}}<br/>{{scheduleForm.classT}}</div>
                    </div>
                    <br/>
                     <input type="submit" value="Submit" class="hsButton">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
function handleRecurClick(cb) {
    if(cb.checked){
        $('#recurDate').show();
        $('#recurType').show();
    }
    else{
        $('#recurDate').hide();
        $('#recurType').hide();
    }
};
function handleTeacherClick(cb) {
    if(cb.checked){
        $('#teacherAssign').show();
        $('#classAssign').show();
    }
    else{
        $('#teacherAssign').hide();
        $('#classAssign').hide();
    }
};
function handleAllDayClick(cb) {
    if(!cb.checked){
        $('#startTime').hide();
        $('#endTime').hide();
    }
    else{
        $('#startTime').show();
        $('#endTime').show();
    }
}

 document.getElementById('UpdateForm').onsubmit = function() {
    var form = document.getElementById('UpdateForm');
    var input = document.createElement('input');
    input.setAttribute('name', 'selectStudent');
    input.setAttribute('value', document.getElementById('selectStudent').value);
    input.setAttribute('type', 'text')
    alert(document.getElementById('selectStudent').value);
    form.appendChild(input);
    form.submit();
}
</script>