<!-- Modal -->
<div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">3
                <h5 class="modal-title" id="scheduleModalLabel">Update Schedule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="UpdateForm" action="/settings" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <label for="createEvent">Title:   </label>
                    <label for="addSubject" style="margin-left:275px;">Subject:   </label>
                    <br/>
                    <input id="createEvent"  name="createEvent" type="text" style="width:300px;" required>
                    <select id="addSubject" name="addSubject" class="filter-selectbox" style="margin-left:10px;width:150px;" required>
                    {% for subject in subjects %}
                        <option value="{{ subject.subjectID }}">{{ subject.subjectName }}</option>
                    {% endfor %} </select>
                    </br></br>
                    <label for="addType">I want to schedule a...  </label><br/>
                    {% for item in scheduleItemTypes %}
                    <label style="margin-right:45px;"><input id="addType" name="addType"
                            class="form-check-input" type="radio" value="{{ item.scheduleItemTypeID }}"
                            required>{{ item.ScheduleItemTypeName }}</label>
                    {% endfor %}
                    <br/><br/>
                    <div style="text-align:left;">
                        <label for="createStartDate" style="display:inline-block;" >Date:</label>
                        <label for="setAllDay" style="margin-left:113;display:inline-block;">Time:</label>
                        <label id="startTime" for="createStartTime" style="margin-left:27;display:inline-block;visibility:hidden;">Start Time:</label>
                        <label id="endTime" for="createEndTime" style="margin-left:33;display:inline-block;visibility:hidden;">End Time:</label>
                    </div>
                    <div style="text-align:left;">
                        <input type="date" id="createStartDate" name="createStartDate" style="width:135px;display:inline-block" required>
                        <label class="switch" style="display:inline-block;margin-left:10px; position:absolute;">
                            <input id="setAllDay" name="setAllDay" type="checkbox" onclick='handleAllDayClick(this);'>
                             <span class="slider round"></span>
                        </label>
                        <div id="allDay" style="display:inline-block;margin-left:75px;visibility:hidden">
                            <input type="time" id="createStartTime" name="createStartTime" style="margin-left:10px;width:100px;">
                            <input type="time" id="createEndTime" name="createEndTime" style="margin-left:10px;width:100px;">
                        </div>
                    </div>
                    <br/><br/>
                    <label for="createDetails">Details:   </label>
                    <br/>
                    <textarea id="createDetails"  name="createDetails" type="text" style="width:460;height:56px;"></textarea>
                    <br/><br/>
                    <label>I want this to be recurring.... </label><br/>
                    <label class="switch">
                        <input type="checkbox" onclick='handleRecurrClick(this);'>
                         <span class="slider round"></span>
                    </label>
                    <div id="recurringEvents" style="display:none;">
                        <br/>
                        <label>Frequency:</label><br/>
                        {% for item in recurrenceTypes %}
                        <label style="margin-right:40px;">
                            <input class="form-check-input" id="createEndRecurrenceType" name="createEndRecurrenceType" type="radio"
                                                             value="{{ item.recurrenceTypeID }}" >{{ item.recurrenceTypeName }}
                        </label>
                        {% endfor %}
                        <br/><br/>
                        <label for="createEndRecurrenceDate">End Recurrence:</label><br/>
                        <input type="date" id="createEndRecurrenceDate" name="createEndRecurrenceDate" style="width:140px;">
                    </div>
                    <br/>
                    <br/>
                    <input type="submit" value="Create" class="myButton">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
function handleRecurrClick(cb) {
    if(cb.checked){
        $('#recurringEvents').show();
    }
    else{
        $('#recurringEvents').hide();
    }
};
function handleAllDayClick(cb) {
    if(!cb.checked){
        document.getElementById('allDay').style.visibility = "hidden";
        document.getElementById('startTime').style.visibility = "hidden";
        document.getElementById('endTime').style.visibility = "hidden";
    }
    else{
        document.getElementById('allDay').style.visibility = "visible";
        document.getElementById('startTime').style.visibility = "visible";
        document.getElementById('endTime').style.visibility = "visible";
    }
}

 document.getElementById('UpdateForm').onsubmit = function() {
    var form = document.getElementById('UpdateForm');
    var input = document.createElement('input');
    input.setAttribute('name', 'selectStudent');
    input.setAttribute('value', document.getElementById('selectStudent').value);
    input.setAttribute('type', 'text')
    form.appendChild(input);
    form.submit();
}
</script>