{% extends 'base.html' %}
{% include 'settings/scheduleModal.html' %}
{% block title %}
Settings
{% endblock %}

{% block content %}
<div class="topBar">
    <h2 style="float:left;"><i class="fas fa-tools"></i>Settings</h2>
    <nav class="topnav">
        <ul>
            <li id="StudentToggle" onclick="switchPage('student')" >Students</li>
            <li id="SubjectToggle" onclick="switchPage('subject')">Subjects</li>
            <li id="LessonToggle" onclick="switchPage('lesson')">Classes</li>
            <li id="ScheduleToggle" onclick="switchPage('calendar')">Schedule</li>
        </ul>
    </nav>
</div>
<br/>
<div  class="content">
    <form id="StudentForm" action="/settings" method="post" style="display:none">
        {% csrf_token %}
        {{ form }}
        <h2><i class="fas fa-user"></i>Students</h2>
        <br/>
        <label for="createStudentFirst">First Name:   </label>
        <br/>
        <input id="createStudentFirst" type="text" name="createStudentFirst" >
        </br></br>
        <label for="createStudentLast">Last Name:   </label>
        <br/>
        <input id="createStudentLast" type="text" name="createStudentLast" >
        <input type="submit" value="Create" class="hsButton">
    </form>
    <form id="SubjectsForm" action="/settings" method="post" style="display:none">
        {% csrf_token %}
        {{ form }}
        <h2><i class="fas fa-book-open"></i>Subjects</h2>
        <br/>
        <label for="createSubject">Name:   </label>
        </br>
        <input id="createSubject" type="text" name="createSubject">
        <input type="submit" value="Create" class="hsButton">
    </form>
    <form id="LessonsForm" action="/settings" method="post" style="display:none">
        {% csrf_token %}
        {{ form }}
        <h2><i class="fas fa-clipboard"></i>Lessons</h2>
        <br/>
        <label for="createLesson">Name:   </label>
        </br>
        <input id="createLesson" type="text" name="createLesson" >
        <input type="submit" value="Create" class="hsButton">
    </form>
    <div id="calendarContainer" style="display:none">
        <h2><i class="fas fa-calendar-alt"></i>Schedules</h2>
        <br/>
        {% include 'fullCalendar.html' %}
      <!-- Extra large modal -->
        <button id="modalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scheduleModal" style="display:none">
            Test
        </button>
    <script>
        $(document).ready(function() {
            var page = sessionStorage.getItem('currentForm');
            switchPage(page);
        });

        function switchPage(page){
            $('#StudentForm').hide();
            $('#LessonsForm').hide();
            $('#SubjectsForm').hide();
            $('#calendarContainer').hide();
            sessionStorage.setItem('currentForm', page);
               switch(page){
                case "student":
                    $('#StudentForm').show();
                    break;
                case "lesson":
                    $('#LessonsForm').show();
                    break;
                case "subject":
                    $('#SubjectsForm').show();
                    break;
                case "calendar":
                    $('#calendarContainer').show();
                    getCalendar('dayGridMonth,timeGridWeek,timeGridDay', 'dayGridMonth', '\settings').render();
                    break;
                default:
                    $('#StudentForm').show();
                    break;
            }
        }

        var dateClickCustom = function(info)
        {
             $('#id_activity_date').val(info.dateStr);
             $('#id_start_time').val("12:00");
             $('#id_end_time').val("13:00");
             $('#startTime').hide();
             $('#endTime').hide();
             $('#recurDate').hide();
             $('#recurType').hide();
             $('#teacherAssign').hide();
             $('#classAssign').hide();
             $('#allDay').prop('checked', true);
             document.getElementById("modalButton").click();
        }

    </script>
</div>
{% endblock %}
