{% extends 'base.html' %}
{% load static %}
{% load i18n static %}
{% block title %}
Settings
{% endblock %}

{% block content %}
<div class="topBar">
    <h2 style="float:left;"><i class="fas fa-tools"></i>Settings</h2>
    <nav class="topnav">
        <ul>
            <li id="StudentsFormToggle">Students</li>
            <li id="SubjectsFormToggle">Subjects</li>
            <li id="LessonsFormToggle">Classes</li>
            <li id="ScheduleFormToggle">Schedule</li>
        </ul>
    </nav>
</div>
<br/>
<div  class="content">
    <form id="StudentForm" action="/settings" method="post" style="display:none">
        {% csrf_token %}
        {{ form }}
        <h2><i class="fas fa-user"></i>Students</h2>
        <br/>
        <label for="createStudentFirst">First Name:   </label>
        <br/>
        <input id="createStudentFirst" type="text" name="createStudentFirst" >
        </br></br>
        <label for="createStudentLast">Last Name:   </label>
        <br/>
        <input id="createStudentLast" type="text" name="createStudentLast" >
        <input type="submit" value="Create" class="hsButton">
    </form>
    <form id="SubjectsForm" action="/settings" method="post" style="display:none">
        {% csrf_token %}
        {{ form }}
        <h2><i class="fas fa-book-open"></i>Subjects</h2>
        <br/>
        <label for="createSubject">Name:   </label>
        </br>
        <input id="createSubject" type="text" name="createSubject">
        <input type="submit" value="Create" class="hsButton">
    </form>
    <form id="LessonsForm" action="/settings" method="post" style="display:none">
        {% csrf_token %}
        {{ form }}
        <h2><i class="fas fa-clipboard"></i>Lessons</h2>
        <br/>
        <label for="createLesson">Name:   </label>
        </br>
        <input id="createLesson" type="text" name="createLesson" >
        <input type="submit" value="Create" class="hsButton">
    </form>
    <div id="calendarContainer" style="display:none">
        <h2><i class="fas fa-calendar-alt"></i>Schedules</h2>
        <br/>
        <form id="StudentSelectionForm" action="/settings" method="post">
            {% csrf_token %}
            {{ form }}
            <label for="selectStudent">Select a student...   </label><br/>
            <select id="selectStudent" name="selectStudent" class="filter-selectbox" style="width:300px;" required>
            {% for student in students %}
                <option value="{{ student.studentID }}">{{ student.studentFirstName }} {{ student.studentLastName }}</option>
            {% endfor %} </select>
        </form>
        <br/><br/>
        <div id="calendar"/>
      <!-- Extra large modal -->
        <button id="modalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="display:none">
            Test
        </button>
    </div>
    <script>
        window.onload = function(){
            var page = sessionStorage.getItem('currentForm');
            switchPage(page);
        }

        var studentToggle = document.getElementById('StudentsFormToggle');
        studentToggle.onclick = function(){
            switchPage("student");
        };

        var subjectToggle = document.getElementById('SubjectsFormToggle');
        subjectToggle.onclick = function(){
            switchPage("subject");
        };

        var lessonToggle = document.getElementById('LessonsFormToggle');
        lessonToggle.onclick = function(){
            switchPage("lesson");
        };

        var calendarToggle = document.getElementById('ScheduleFormToggle');
        calendarToggle.onclick = function(){
            switchPage("calendar");
        };

        function switchPage(page){
            document.getElementById('StudentForm').style.display = "none";
            document.getElementById('LessonsForm').style.display = "none";
            document.getElementById('SubjectsForm').style.display = "none";
            document.getElementById('calendarContainer').style.display = "none";
            sessionStorage.setItem('currentForm', page);
               switch(page){
                case "student":
                    document.getElementById('StudentForm').style.display = "block";
                    break;
                case "lesson":
                    document.getElementById('LessonsForm').style.display = "block";
                    break;
                case "subject":
                    document.getElementById('SubjectsForm').style.display = "block";
                    break;
                case "calendar":
                    document.getElementById('calendarContainer').style.display = "block";
                    loadCalendar();
                    break;
                default:
                    document.getElementById('StudentForm').style.display = "block";
                    break;
            }
        }

        function loadCalendar(){
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: { center: 'dayGridMonth,timeGridWeek,timeGridDay' },
                  titleFormat: {
                    month: 'numeric',
                    year: '2-digit',
                    day: 'numeric',
                },
                initialView: 'dayGridMonth',
                timeZone: 'America/Mexico_City',
                events: [
                     {% for event in nonrecurringEvents %}
                        {
                            title: '{{ event.description }}',
                            description: '{{ event.details }}',
                            start: '{{ event.start|date:"Y-m-d" }}T{{ event.start|time:"H:i" }}',
                            end: '{{ event.end|date:"Y-m-d" }}T{{ event.end|time:"H:i" }}',
                            allDay: '{{ event.allDay }}',
                        },
                     {% endfor %}
                     {% for event in recurringEvents %}
                        {
                            title: '{{ event.description }}',
                            description: '{{ event.details }}',
                            start: '{{ event.start }}',
                            end: '{{ event.end }}',
                            allDay: '{{ event.allDay }}',
                            rrule: {
                                freq: '{{event.reoccurType.recurrenceTypeName}}',
                                until: '{{ event.reoccurEnd|date:"Y-m-d" }}T{{ event.reoccurEnd|time:"H:i" }}'
                            }
                        },
                     {% endfor %}
                  ],
                dateClick: function(info) {
                alert(info.dateStr);
                    document.getElementById('createStartDate').value = info.dateStr;
                    document.getElementById('createStartTime').value = "12:00:00";
                    document.getElementById('createEndTime').value = "13:00:00";
                    document.getElementById("modalButton").click();
                },
                eventDidMount: function(info) {
                    $(info.el).tooltip({
                        title: info.event.extendedProps.description,
                    });
                },
            });
            calendar.render();
        };
        function handleRecurrClick(cb) {
            if(cb.checked){
                document.getElementById('recurringEvents').style.display = "block";
            }
            else{
                document.getElementById('recurringEvents').style.display = "none";
            }
        };
        function handleAllDayClick(cb) {
            if(!cb.checked){
                document.getElementById('allDay').style.visibility = "hidden";
                document.getElementById('startTime').style.visibility = "hidden";
                document.getElementById('endTime').style.visibility = "hidden";
            }
            else{
                document.getElementById('allDay').style.visibility = "visible";
                document.getElementById('startTime').style.visibility = "visible";
                document.getElementById('endTime').style.visibility = "visible";
            }
        };
        document.getElementById('UpdateForm').onsubmit = function() {
            var form = document.getElementById('UpdateForm');
            var input = document.createElement('input');
            input.setAttribute('name', 'selectStudent');
            input.setAttribute('value', document.getElementById('selectStudent').value);
            input.setAttribute('type', 'text')
            form.appendChild(input);
            form.submit();
        };
    </script>
</div>
{% endblock %}
