{% extends 'base.html' %}
{% include 'settings/scheduleModal.html' %}
{% load crispy_forms_tags %}
{% block title %}
Settings
{% endblock %}

{% block content %}
<div class="topBar">
    <h2 style="float:left;"><i class="fas fa-tools"></i>Settings</h2>
    <nav class="topnav">
        <button id="StudentToggle" class="tabButton tabButton-active" onclick="switchPage('student')" >Students</button>
        <button id="SubjectToggle" class="tabButton" onclick="switchPage('subject')">Subjects</button>
        <button id="LessonToggle" class="tabButton" onclick="switchPage('lesson')">Classes</button>
        <button id="ScheduleToggle" class="tabButton" onclick="switchPage('calendar')">Schedule</button>
    </nav>
</div>
<br/>
<div class="content">
    {% include 'settings/studentForm.html' %}
    {% include 'settings/subjectForm.html' %}
    {% include 'settings/classForm.html' %}
    <div id="calendarContainer" style="display:none">
        <h2><i class="fas fa-calendar-alt"></i>Schedules</h2>
        <br/>
        {% include 'calendar/parentCalendar.html' %}
      <!-- Extra large modal -->
        <button id="modalButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scheduleModal" style="display:none">
            Test
        </button>
    </div>
    <script>
        $(document).ready(function() {
            var page = sessionStorage.getItem('currentForm');
            switchPage(page);
        });

        function switchPage(page){
            $('#StudentToggle')[0].classList.remove('tabButton-active');
            $('#SubjectToggle')[0].classList.remove('tabButton-active');
            $('#LessonToggle')[0].classList.remove('tabButton-active');
            $('#ScheduleToggle')[0].classList.remove('tabButton-active');
            $('#StudentForm').hide();
            $('#LessonsForm').hide();
            $('#SubjectsForm').hide();
            $('#calendarContainer').hide();
            sessionStorage.setItem('currentForm', page);
               switch(page){
                case "student":
                    $('#StudentForm').show();
                    $('#StudentToggle')[0].classList.add('tabButton-active');
                    break;
                case "lesson":
                    $('#LessonsForm').show();
                    $('#LessonToggle')[0].classList.add('tabButton-active');
                    break;
                case "subject":
                    $('#SubjectsForm').show();
                    $('#SubjectToggle')[0].classList.add('tabButton-active');
                    break;
                case "calendar":
                    $('#calendarContainer').show();
                    $('#ScheduleToggle')[0].classList.add('tabButton-active');
                    getCalendar('dayGridMonth,timeGridWeek,timeGridDay', 'dayGridMonth', '\settings').render();
                    break;
                default:
                    $('#StudentForm').show();
                    $('#StudentToggle')[0].classList.add('tabButton-active');
                    break;
            }
        }

        var dateClickCustom = function(info)
        {
             $('#id_activity_date').val(info.dateStr);
             $('#id_start_time').val("12:00");
             $('#id_end_time').val("13:00");
             $('#startTime').hide();
             $('#endTime').hide();
             $('#recurDate').hide();
             $('#recurType').hide();
             $('#teacherAssign').hide();
             $('#classAssign').hide();
             $('#allDay').prop('checked', true);
             document.getElementById("modalButton").click();
        }

    </script>
</div>
{% endblock %}
