<div>
    <label for="selectTeacherStudent">Select a student...   </label><br/>
    <select id="selectTeacherStudent" name="selectStudent" class="filter-selectbox" style="width:300px;" required>
    {% for student in teacherStudents %}
        <option value="{{ student.id }}">
            {{ student.firstName }} {{ student.lastName }}
        </option>
    {% endfor %} </select>
</div>
<br/><br/>
<div id="teacherCalendarSettings"/>
</div>
<script>

function getTeacherCalendar(header, initial, url){
    loadTeacherCalendar(header, initial);
    view = url;
    return teacherCalendar;
}

var teacherCalendar;
var view;

function loadTeacherCalendar(header, initial){
  teacherCalendar = new FullCalendar.Calendar($('#teacherCalendarSettings')[0], {
    headerToolbar: { center:  header},
      titleFormat: {
        month: 'numeric',
        year: '2-digit',
        day: 'numeric',
    },
    height: 650,
    initialView: initial,
    timeZone: 'UTC',
    events: [
         {% for event in teacherEvents %}
            {
                title: '{{ event.description }}',
                description: '{{ event.details }}',
                start: '{{ event.start|date:"Y-m-d" }}T{{ event.start|time:"H:i:s"}}',
                end: '{{ event.end|date:"Y-m-d" }}T{{ event.end|time:"H:i:s"}} }}',
                allDay: '{{ event.allDay }}',
                {% if event.recurType %}
                rrule: {
                    freq: '{{ event.recurType.recurrenceTypeName}}',
                    until: '{{ event.recurEnd|date:"Y-m-d" }}T{{ event.recurEnd|time:"H:i:s" }}'
                }
                {% endif %}
            },
         {% endfor %}
      ],
    eventDidMount: function(info) {
        $(info.el).tooltip({
            title: info.event.extendedProps.description ?? " ",
        });
    },
  });
}
$('#selectTeacherStudent').on('change',function(){
    $.ajax({
        url: view,
        type: 'GET',
        cache: false,
        data:{"studentID" : document.getElementById('selectTeacherStudent').value },
        success: function (response) {
            updateTeacherSources(response.eventSource)
        },
        error: function (response) {
            alert(response["responseJSON"]["error"]);
        }
    })
});

function updateTeacherSources(source){
    var eventSources = teacherCalendar.getEventSources();
    for(var i in eventSources)
    {
        eventSources[i].remove();
    }
    teacherCalendar.addEventSource(source);
    var eventSources = teacherCalendar.getEventSources();
    for(var i in eventSources)
    {
        eventSources[i].refetch();
    }
    teacherCalendar.render();
}
 </script>